@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Philosopher');

@keyframes show {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@media screen and (max-width: 999px){
  header{
    position: inherit;
  }
  a{
    padding: 7px ;
  }
  .backgroundHeader{
        width: 70%;
  }
  .show{
    display: block;
  }
  .headerUl{
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: rgba(#fff);
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
  header ul li {
  }
  header ul{
    padding-left: 0;
    background: #ffffffc9;
  }

}
@media screen and (max-width: 767px){
  header, .backgroundHeader{
    width: 95%;
    max-width: 540px;
  }
  .container {
    width: 95%;
  }

}
@media screen and (max-width: 570px){
.container{
    padding: 3%;
  }
}
@media screen and (max-width: 414px){
  .container{
    padding: 3%;
  }
  .h2{
    font-size: 23px !important;
  }
  .h5{
    font-size: 18px !important;
  }

  #outPassword{
    font-size: .9rem;
  }
}

@media screen and (max-width: 320px){
  .font{
    font-size: 1rem
  }
  #outPassword{
    font-size: .8rem;
  }
}
