@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Philosopher');

@keyframes show {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@media screen and (min-width: 1000px){
  nav{
    display: block !important;
  }

}
@media screen and (max-width: 999px){
  header{
    position: relative;
  }
  .headerWrapper{
    display: block;
  }
  a.icon{
    float: right;
    display: block;
    color: #000;
    font-size: 1.5rem;
    margin-top: 20px;

  }
  nav{
    display: none;
    width: 100%;
    background: #ffffffc9;

  }
.topnav{
    flex-direction: column;
}
.hide{
  display: block;
}
}
@media screen and (max-width: 767px){
  .wrapper {
    width: 95%;
  }
  .headerWrapper {
    margin: 0 auto;
    max-width: 540px;
  }
  .backgroundHeader{
    max-width: 540px
  }
}
@media screen and (max-width: 570px){
.container{
    padding: 3%;

  }
}
@media screen and (max-width: 414px){
  .container{
    padding: 3%;
  }
  .h2{
    font-size: 23px !important;
  }
  .h5{
    font-size: 18px !important;
  }

  #outPassword{
    font-size: .9rem;
  }
}

@media screen and (max-width: 320px){
  .font{
    font-size: 1rem
  }
  #outPassword{
    font-size: .8rem;
  }
}
