@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Philosopher');

@keyframes show {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@media screen and (max-width: 768px){

  #start{
    margin: 0 auto;
    display: flex;
  }
  .container{
    padding: 5%;
  }
}
@media screen and (max-width: 570px){
header{
text-align: center;
margin: 0;
}
.container{
    width: 88%;
    padding: 3%;
  }
}
@media screen and (max-width: 414px){
  .container{
    width: 98%;
    padding: 3%;
  }
  .h2{
    font-size: 23px !important;
  }
  .h5{
    font-size: 18px !important;
  }

#outPassword{
  font-size: 16px;
}
}

@media screen and (max-width: 320px){
  #outPassword{
    font-size: 12px;
  }
}
