header{
  min-height: 100px;
  margin-left: 10rem;
}

body{
  background:url(../img/blue-geometric-background.jpg) no-repeat center top fixed;
background-size: cover;
  display: block;
}
ul{
  list-style: none;
  text-align: left;
  font-weight: 700;
}
li{
  font-weight: 400;
}
.logoIco{
  width: 170px;
  height: 80px;
  cursor: pointer;

}
.ico{
  height: 25px;
  width: 25px;
}
a{
  margin: 0 15px;
}

#info{
  justify-content: center;
}

#start{
  display: none;
}
.h2{
    font-family: Philosopher;
    font-weight: 700;
}
.h5{
  animation: show 3s ;
  padding: 30px 0;
}
p{
  cursor: default;
}

.container{
  min-height: 855px;
  width: 70%;
  padding: 60px 60px 0 60px ;
  border-radius: 4px;
  background-color: #fff;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-width: 1px;
  border-style: solid;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  text-align: center;
  opacity: .8;
}

img{
  width: 35px;
  height: 35px;
}

.blockOne{
  background-color: #fffdf2;
  border-radius: 15px;
}

.blockType{
display: flex;
justify-content: space-around;

}


#outPassword{
  margin: 20px  auto;
  font-size: 1em;
  border-radius: 5px;
  animation: show 1s ;
  color: #dc3545eb;
}

.lenght{
  margin: 5px;
}

.checkbox{
display: flex;
flex-direction: column;
padding: 40px 0;
}

input{
  cursor: pointer;
}

.btn{
  margin: 2px 0;
  border: none;
}

.result{
  min-height: 100px;
}

#userButton{

display: none;
}

#userButton1{
height: 37px;
margin: 5px auto;
display: block;
animation: show 1s;
}


/* Стили ползунка */
input[type=range]{
    -webkit-appearance: none;
        width: 90%;
}

input[type=range]::-webkit-slider-runnable-track {

    height: 10px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background: #5b88b1;
    margin-top: -7px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

/* стили чекбоксов*/
