header{
  width: 70%;
  max-width: 1140px;
  height: 80px;
  box-sizing: border-box;
  z-index: 1;
  margin: 0 auto;
  border: none;
  padding: 0;
  position: sticky;
  top: 0;
}

body{
  background:url(../img/blue-geometric-background.jpg) no-repeat center top fixed;
  background-size: cover;
  display: block;
}
ul{
  list-style: none;
  text-align: left;
  font-weight: 700;
}
a{
  font-weight: 400;
  transition: .4s;
}
a:hover{
    background: rgba(192, 217, 214, 0.83);
}
a:active{
  background: rgba(164, 201, 222, 0.83);
}
span{
  font-size: 1.2rem;
  font-weight: 700;
  color: #000;
  text-decoration: none;

}
a {
  margin: 0 15px;
}
a:hover {
  text-decoration: none;
}

.backgroundHeader{
    background: linear-gradient( #4c9287, #ffffffc9);
    z-index: -100;
    transition: 0.5s;
    position: absolute;
    width: 100%;
    height: 80px;
    opacity: 0;
}
.fixed {
  opacity: 1;
}
.logoIco{
  width: 170px;
  height: 80px;
  cursor: pointer;
  float: left;
}

.ico{
  height: 35px;
  width: 35px;
}

.headerUl{
  display: flex;
  float: right;
  margin: 20px auto;
}
.show{
  margin-top: 20px !important;
  margin-right: 5px !important;
  float: right;
  width: 55px;
  font-size: 1.1rem;
  display: none;
}

#info{
  justify-content: center;
  margin-top: 50px!important;
}

#start{
  display: none;
}
.h2{
    font-family: Philosopher;
    font-weight: 700;
}
.h5{
  animation: show 3s ;
  padding: 30px 0;
}
p{
  cursor: default;
}

.container{
  min-height: 855px;
  width: 70%;
  padding: 60px 60px 0 60px;
  margin-bottom: 80px;
  border-radius: 4px;
  background-color: #ffffffc9;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-width: 1px;
  border-style: solid;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  text-align: center;
  opacity: .8;
}

img{
  width: 35px;
  height: 35px;
}
.font{
  font-size: 1.3rem;
}
.blockOne{
  background-color: #4e958794;
  border-radius: 15px;
  padding: 30px;
  padding-bottom: 30px !important;
  justify-content: center;
}

.blockType{
display: flex;
justify-content: space-around;

}

#outPassword{
  margin: 20px  auto;
  font-size: 1.2rem;
  border-radius: 5px;
  animation: show 1s ;
  color: #dc3545eb;
}

.checkbox{
display: flex;
flex-direction: column;
padding: 40px 0;
}

input{
  cursor: pointer;
}

.btn{
  margin: 2px 0;
  border: none;
}

.result{
height: 100px;
}

#userButton{
display: none;
}

#userButton1{
height: 37px;
margin: 5px auto;
display: block;
animation: show 1s;
}


/* Стили ползунка */
input[type=range]{
    -webkit-appearance: none;
        width: 90%;
}

input[type=range]::-webkit-slider-runnable-track {

    height: 10px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background: #5b88b1;
    margin-top: -7px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

/* стили чекбоксов*/
